      /* Pagination */
      .But {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        cursor: pointer;
        margin-bottom: 20px;
      }

      a {
        margin-left: 10px;
      }

      /* Stretch */
      .stre {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
        background-color: green;
        border: none;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: padding 0.15s;
        margin-bottom: 20px;
      }

      .stre:hover {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: x-large;
      }

      /* Shadow */
      .sha {
        background-color: green;
        border: none;
        color: white;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
        font-weight: bold;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        margin-bottom: 20px;
      }

      .sha:hover {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
      }

      .sha:active {
        box-shadow: none;
        transform: translate(3px, 3px);
      }

      /* Margin and Padding */
      .mp {
        background-color: green;
        border: none;
        color: white;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;

        transition:
          padding 0.15s,
          margin 0.15s;
      }

      .mp:hover {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 25px;
        padding-right: 25px;
      }